/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F4EB;
}

/* Estilos de navbar */
.navbar {
    font-weight: 700;
    font-size: 1rem;
    background-color: #ffdb87 !important;
}

.nav-link {
    margin-left: 10px;
}

.titulo {
    margin-left: 15px;
    margin-right: 20px;
    font-size: 17px;
}

/* Estilos de login */
.container-login {
    margin-top: 18vh;
}

.card:hover {
    opacity: 100%;
}

.card-body {
    padding-top: 100px;
    padding-bottom: 100px;
}

.titulo-login {
    margin-top: 100px;
    margin-bottom: 50px;
}

.form-control:focus {
    box-shadow: none;
}

.btn-login {
    margin-top: 10px;
    margin-bottom: 6px;
}

.btn-volver {
    margin-bottom: 100px;
}

.btn-volver svg {
    margin-bottom: 1px;
}

/* Media queries */
@media (min-width: 992px) {
    .logo {
        transition: all 0.3s ease;
    }

    .logo:hover {
        transform: scale(1.1);
    }
}