.input-titulo {
    width: 400px;
}

.input-minutos,
.input-porciones {
    width: 130px;
}

.input-eliminar-imagen {
    width: auto;

}

.input-minutos,
.input-porciones,
.input-imagen,
.input-eliminar-imagen {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 6px;
}

textarea {
    height: 430px;
}

input:focus {
    box-shadow: none !important;
}

textarea:focus {
    box-shadow: none !important;
}